<a href="https://colab.research.google.com/github/abhinsuresh/MLTSA_project/blob/master/MLTSA_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import pylab as pl
import numpy as np
import glob	
from google.colab import drive
import os.path
from os import path

In [0]:
def list_diff(list1, list2): 
	return (list(set(list1) - set(list2)))
 
def unique(list1): 
  
    # intilize a null list 
    unique_list = [] 
      
    # traverse for all elements 
    for x in list1: 
        # check if exists in unique_list or not 
        if x not in unique_list: 
            unique_list.append(x)
    return unique_list

In [2]:
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
cd gdrive/My\ Drive/

/content/gdrive/My Drive

In [5]:
# go to you location where stocks are stored, my stocks have proper names
# for Date and Close
cd MLTSA/MLTSA_data/new

/content/gdrive/My Drive/MLTSA/MLTSA_data/new

In [0]:
# optional to retrive the data
# a package to extract stock data from yahoo finance
pip install yfinance

In [0]:
# optional to retrive the data
import yfinance as yf

In [0]:
stockdata = pd.read_csv('https://raw.githubusercontent.com/rameyamey/MLTSAProject/master/RF2.csv')

In [0]:
stockdata['Date Employed'] = pd.to_datetime(stockdata['Date Employed'])

In [0]:
# required renamin of the symbols
stockdata.Symbol[166] = 'AMD'
stockdata.Symbol[28] = 'BRK-B'
stockdata.Symbol[92] = 'BF-B'

In [52]:
ds_list = stockdata.Symbol.values
print(len(ds_list))
print(len(unique(ds_list.tolist())))

221
219

In [0]:
for i,comp in enumerate(unique(ds_list.tolist())):
  if not path.exists(comp + '.csv'):
    print(comp, i)
    data = yf.download(comp, start='2000-01-01', end = '2020-05-01')
    data.to_csv(comp+'.csv')

In [115]:
alltss = []
allfiles = np.sort(np.array(glob.glob("*.csv")))
print(len(unique(ds_list.tolist())))
len(allfiles)

219

219

In [0]:
ds_ls = [x+'.csv' for x in ds_list]

Remove the guys you don't like

In [0]:
ds_ls.remove('ARNC.csv')
ds_ls.remove('FTV.csv')

In [118]:
list_diff(allfiles, ds_ls)

['ARNC.csv', 'FTV.csv']

In [119]:
# updating the list after removing two companies
print(len(ds_ls))
ds_ls = unique(ds_ls)
len(ds_ls)

219

217

In [35]:
tss = []
#allfiles = np.sort(np.array(glob.glob("*.csv")))
allfiles = ds_ls
name = allfiles[0].replace(".csv","")


tss = pd.read_csv(allfiles[0])[["Date", "Close"]].rename({
        "Close":name}, axis=1)
for f in allfiles[1:]:
    name = f.replace(".csv","")  
    tss = tss.merge(pd.read_csv(f)[["Date", "Close"]].rename({
        "Close":name}, axis=1), on="Date")

# Extracting the date column
date_column = tss.loc[:,['Date']]
tss.set_index("Date", inplace=True)
tss.head()
# automatically the choose common region

                   APD    AES         AVB  ...       SWKS         CVS       XRAY
Date                                       ...
2015-08-24  122.405182  11.53  165.550003  ...  80.510002  100.209999  51.549999
2015-11-19  129.472717   9.57  177.399994  ...  78.000000   92.489998  61.090000
2016-02-18  121.341354   9.70  168.360001  ...  62.070000   96.889999  55.599998
2016-03-04  124.690102  10.79  180.020004  ...  73.010002   99.279999  60.160000
2016-06-06  134.653091  11.39  170.229996  ...  66.110001   96.309998  62.750000

[5 rows x 217 columns]

In [37]:
tss.tail()

                   APD    AES         AVB  ...        SWKS        CVS       XRAY
Date                                       ...
2020-04-24  216.779999  12.86  158.380005  ...   96.510002  62.310001  39.310001
2020-04-27  222.259995  13.28  160.750000  ...   98.379997  63.500000  41.099998
2020-04-28  223.619995  13.63  162.470001  ...  100.669998  63.240002  41.630001
2020-04-29  230.669998  14.32  165.809998  ...  106.220001  62.610001  44.200001
2020-04-30  225.580002  13.25  162.949997  ...  103.879997  61.549999  42.439999

[5 rows x 217 columns]

In [0]:
print(tss.shape)
tcs = tss.dropna()
tcs.shape

In [0]:
tss = tcs

In [6]:
cd DF/

/content/gdrive/My Drive/MLTSA/MLTSA_data/new/DF

In [0]:
tss.to_csv('tss.csv')

In [0]:
#can skip to here
tss = pd.read_csv('tss.csv')
date_column = tss.loc[:,['Date']]
tss.set_index("Date", inplace=True)

In [11]:
print('shape of my data', tss.shape)
columns = tss.columns   # required for reconstruction

shape of my data (290, 217)

Exctracting data into arrays for preproceiing and PCA

In [12]:
X_data = tss.iloc[:, 0: len(tss.columns)].values
print("Shape of X_data is", X_data.shape)
print(type(X_data))

Shape of X_data is (290, 217)
<class 'numpy.ndarray'>

In [0]:
from sklearn.preprocessing import StandardScaler

X_std = StandardScaler().fit_transform(X_data)

Standardized dataframe

In [14]:
tss_std = pd.DataFrame(data = X_std, columns = columns)
tss_std.head()

        APD       AES       AVB  ...      SWKS       CVS      XRAY
0 -2.192022  0.329027 -0.326746  ... -0.674542 -1.187794 -0.613180
1 -2.040254  0.451172 -0.275606  ... -0.587329 -1.079961 -0.463595
2 -2.034394  0.519031 -0.202986  ... -0.536940 -0.961607 -0.494487
3 -1.972866  0.519031 -0.176905  ... -0.568595 -0.709120 -0.450587
4 -1.966420  0.546174 -0.141106  ... -0.590559 -0.799857 -0.510747

[5 rows x 217 columns]

In [0]:
tss_std.to_csv('tss_std.csv')

In [0]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)  # only taking two components that account for 44%

In [16]:
principalComponents = pca.fit_transform(X_std)
print(principalComponents.shape)
#principalComponents

print(pca.get_params())

(290, 2)
{'copy': True, 'iterated_power': 'auto', 'n_components': 2, 'random_state': None, 'svd_solver': 'auto', 'tol': 0.0, 'whiten': False}

In [53]:
principalDf = pd.DataFrame(data = principalComponents
             ,columns = ['pc 1'])
             #, 'pc 3', 'pc 4','pc 5', 'pc 6', 
             #            'pc 7', 'pc 8', 'pc 9', 'pc 10'])

type(principalDf)
principalDf.head()

pandas.core.frame.DataFrame

In [17]:
# optional
pca.explained_variance_ratio_*100

array([45.16892801, 30.35961882])

This process the reverts the reduced dimension into the full space.

In [0]:
approximation = pca.inverse_transform(principalComponents)

In [19]:
print(principalComponents.shape)
print(approximation.shape)

(290, 2)
(290, 217)

In [0]:
tss_std_pca = pd.DataFrame(data = approximation, columns = columns)

In [0]:
tss_std_pca.to_csv('tss_std_pca.csv')

In [0]:
tss_std_pca = pd.read_csv('tss_std_pca.csv')

PCA applied full dataframe in original structure

### We need to work on the difference :(tss_std - tss_std_pca)

I hope this is the way to do it

In [21]:
pca_removed_data = tss_std - tss_std_pca
pca_removed_data.head()

        APD       AES       AVB  ...      SWKS       CVS      XRAY
0 -0.760704  0.859537 -0.005958  ...  0.729846  0.309805 -0.365828
1 -0.749053  0.842999 -0.090139  ...  0.699215  0.287745 -0.352158
2 -0.778984  0.881183 -0.045199  ...  0.718202  0.371811 -0.410366
3 -0.781610  0.824587 -0.072808  ...  0.631028  0.563496 -0.419809
4 -0.764136  0.864812 -0.023764  ...  0.617849  0.482566 -0.466483

[5 rows x 217 columns]

In [0]:
# Adding date back into the data structure
finalDf = pd.concat([date_column, pca_removed_data], axis = 1)
#finalDf.set_index("Date", inplace=True) # optional

In [24]:
# optional
finalDf.head()

         Date       APD       AES  ...      SWKS       CVS      XRAY
0  2019-03-08 -0.760704  0.859537  ...  0.729846  0.309805 -0.365828
1  2019-03-11 -0.749053  0.842999  ...  0.699215  0.287745 -0.352158
2  2019-03-12 -0.778984  0.881183  ...  0.718202  0.371811 -0.410366
3  2019-03-13 -0.781610  0.824587  ...  0.631028  0.563496 -0.419809
4  2019-03-14 -0.764136  0.864812  ...  0.617849  0.482566 -0.466483

[5 rows x 218 columns]

In [25]:
print(type(finalDf.Date[0]))
finalDf['Date']= pd.to_datetime(finalDf['Date'])
print(type(finalDf.Date[0]))

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [0]:
finalDf.to_csv('finalDf.csv')

In [0]:
finalDf = pd.read_csv('finalDf.csv')

In [0]:
finalDf = pd.read_csv('https://raw.githubusercontent.com/abhinsuresh/MLTSA_project/master/finalDf.csv')

# This is the dataframe on which we will do the classification, we will be adding features to this dataframe

In [160]:
# optional
stockdata.head()

  Symbol                       Company  ... exp1career   exp2fam
0    APD  Air Products & Chemicals Inc  ...   4.391218  3.584493
1    AES                      AES Corp  ...   4.349400  3.430855
2    AVB   AvalonBay Communities, Inc.  ...   4.349400  3.430855
3    DAL          Delta Air Lines Inc.  ...   4.355876  3.409393
4     gm                            GM  ...   4.355876  3.409393

[5 rows x 19 columns]

In [35]:
# optional
stockdata = pd.read_csv('https://raw.githubusercontent.com/rameyamey/MLTSAProject/master/RF2.csv')
stockdata.shape

(221, 19)

In [53]:
stockdata.drop_duplicates(subset ='Symbol', keep = 'last', inplace = True)
stockdata.shape

(219, 19)

In [54]:
stockdata.index[stockdata['Symbol'] == 'ANET'].tolist()

[190]

In [55]:
pwd

'/content/gdrive/My Drive/MLTSA/MLTSA_data/new/DF'

In [123]:
cd DF

/content/gdrive/My Drive/MLTSA/MLTSA_data/new/DF

In [0]:
stockdata.to_csv('stockdata.csv')

In [42]:
type(stockdata['Date Employed'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [57]:
ds_l = unique(ds_list.tolist())
ds_l.remove('ARNC')
ds_l.remove('FTV')
len(ds_l)

217

In [0]:

def slope(x):
    pars = np.polyfit(range(len(x)), x.iloc[:,0], 1)
    return pars[0]
def intercept(x):
    pars = np.polyfit(range(len(x)), x.iloc[:,0], 1)
    return pars[1]

In [0]:
slopes = []
slopes_f = []
for comp in ds_l:
  #print(comp)
  ind = stockdata.index[stockdata['Symbol'] == comp].tolist()[0]
  # stock after appointing female ceo or male ceo
  stock = finalDf[[comp,'Date']].where(finalDf.Date >= \
                            stockdata['Date Employed'].loc[stockdata.Symbol==comp][ind])
  
  # complete stock
  stock_f = finalDf[[comp,'Date']]

  stock = stock.replace([np.inf, -np.inf], np.nan).dropna(axis=0)
  stock_f = stock_f.replace([np.inf, -np.inf], np.nan).dropna(axis=0)

  # current gender of ceo
  G = stockdata['Gender (1 female, 2 male)'].where(stockdata['Symbol'] == comp)[ind]

  if not stock.empty:
    # this implies there is some contribution from newly appointed ceo in our
    # time frame
    slopes.append([comp, slope(stock), slope(stock_f), G])
  else:
    # In this limited case, am assuming previous ceo is male
    stock = finalDf[[comp,'Date']]
    slopes.append([comp, slope(stock_f), slope(stock_f), 2.0])

In [0]:
slope_data = pd.DataFrame(slopes, columns = ['Symbol', 'slope_after', 'full_slope', 'gender_for_SA'])

In [99]:
slope_data.head()

  Symbol  slope_after  full_slope  gender_for_SA
0    APD     0.006573    0.006573            2.0
1    AES     0.000281    0.000281            2.0
2    AVB    -0.001718   -0.001718            2.0
3    DAL    -0.004694   -0.004557            2.0
4     gm    -0.007051   -0.007051            1.0

In [0]:
slope_data.to_csv('slope_data_pca_2.csv')

## Idea is to take the slope(realtive slope, compared to market trend) during the part in which CEO female CEO is appointed and add it as the main predictive feture to stockdata datframe

# What all are missing, and what all are our approximations

* We will be comparing slope calculated from different time domins, and to our frist approximation, we assume this is fine since we are working with market trend removed stock data.
* Rest of the metadata features we are adding corresponds to current geography, gender diversity or location which can be same through out common domain of time or not. 
* Like for a crude example, in the case of number of childern, we don't know exactly when the ceo had these many childern, so if we work with the slope since she was appointed as the main predictive data, she might had these childern at a later point of time, so that slope might not be good assement tool.
* My point is this "slope" might not able to used to calssify all the features which we have, we should keep this in the back of our mind; crossed fingers.
* May be we could extract the entire slope as well as a second predictive feature if that's possible/feasible.

## Random forrest calssifier
###just copied from rachel

In [0]:
rf_X = Stockdata.iloc[:,:-1].values
rf_y = Stockdata.iloc[:,-1].values

In [0]:
print("breakdown between CEOGender {} {}".format(
    (Stockdata.CEOGender == 1).sum(), (Stockdata.CEOGender == 0).sum()))

breakdown between CEOGender 24 26

In [0]:
XCEOmale = rf_X[Stockdata.CEOGender == 1]
XCEOfemale = rf_X[Stockdata.CEOGender == 0]
yCEOmale =  rf_y[Stockdata.CEOGender == 1]
yCEOfemale =  rf_y[Stockdata.CEOGender == 0]

In [0]:
import sklearn
from sklearn.model_selection import train_test_split

X_trainfemaleCEO, X_testfemaleCEO, y_trainfemaleCEO, y_testfemaleCEO = train_test_split(
     XCEOfemale, yCEOfemale, test_size=0.01, random_state=42)

In [0]:
from sklearn.ensemble import RandomForestClassifier
clfemaleCEO = RandomForestClassifier(n_estimators=100, 
                        criterion='gini', max_depth=5).fit(X_trainfemaleCEO, y_trainfemaleCEO)

In [0]:
print("Random Forest Classification\n" + 
       "score on CEO classification {:.2f}".format(
           clfemaleCEO.score(X_testfemaleCEO, y_testfemaleCEO)))

Random Forest Classification
score on CEO classification 0.00